@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'gg sans';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/gg sans Regular.woff') format('woff');
}

@theme {
  --font-bungee: "Bungee", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-karla: "Karla", sans-serif;
  --text-title: 1.8rem;
  --color-white: #E9E9E9;
  --color-normal: #a1a1a1;
}

:root {
  --page-bg: #1A1A1E;
  background-color: var(--page-bg);
  @apply text-white
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}